# Python
.venv
.benchmarks
.ruff_cache
__pycache__

# Ascend op build artifacts
build_out/
**/build/
*.run
csrc/ascend/voxelization/test/data/output/
*.om
csrc/ascend/custom_op_temp/
**/check_result.json

# Ascend debug dump artifacts
kernel_meta/
extra-info/
mindstudio_sanitizer_log/

# Build artifacts
dist/
*.egg-info/
