# Python
.venv
.benchmarks
.ruff_cache
__pycache__

# Ascend op build artifacts
build_out/
csrc/ascend/custom_op/build/
__pycache__/
*.run
csrc/ascend/voxelization/test/data/output/
*.om
csrc/ascend/custom_op_temp/
session-unum_ops_vox.md
csrc/ascend/voxelization/op_extension/build/
csrc/ascend/voxelization/test/build/
csrc/ascend/voxelization/test/check_result.json
